/* Font */
@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSans-web.woff");
}
* {
  direction: rtl;
  font-family: "iransans";
  /* height: 1500px; */
}
/* Header  */
header {
  background-color: #393e46;
  height: 450px;
  box-shadow: 0.1rem 0.1rem 1rem #4a2d46;
}
/* Search Box container */
#searchbox {
  height: 100%;
}
#searchBoxRow {
  height: 100%;
}

/* footer */
footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  text-align: center;
}
/* @media (min-height: 10px) {
  footer {
    position: relative;
  }
} */
